

<div class="container">
    <ngb-tabset>
      <ngb-tab title="C# Project">
        <ng-template ngbTabContent>
          <p>Contents of C# project</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Python Project">
        <ng-template ngbTabContent>
          <p>Contents of Python project</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="MEAN Project">
          <ng-template ngbTabContent>
            <p>Contents of MEAN project</p>
          </ng-template>
        </ngb-tab>
    </ngb-tabset>
  </div>